<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.asiainfo.banksocket.mapper.orclmapper.BankOrclMapper">
    <select id="checkRowNum" resultType="java.lang.String">
        <![CDATA[
        select count(1) from BANK_CHARGE_RECORD t where t.other_payment_id=#{flowId}
        and t.so_region_code=#{areaId} and t.created_date>=to_date(sysdate,'yyyymmdd')
        and t.busi_code='4103' and t.bankid=#{bankId}
        ]]>
    </select>
    <insert id="insertBankChargeRecord" parameterType="com.asiainfo.banksocket.common.BankChargeRecord">
        INSERT INTO bank_charge_record(payment_id,other_payment_id,created_date,payment_date,amount,state,so_region_code,bankid,busi_code,staff_id)
        VALUES(#{bankChargeRecord.payment_id},#{bankChargeRecord.other_payment_id},sysdate,sysdate,#{bankChargeRecord.amount},#{bankChargeRecord.state},
        #{bankChargeRecord.so_region_code},#{bankChargeRecord.bankid},#{bankChargeRecord.busi_code},#{bankChargeRecord.staff_id})
    </insert>
    <update id="updateBankChargeRecord"  parameterType="com.asiainfo.banksocket.common.BankChargeRecord">
        UPDATE bank_charge_record SET unpay_other_payment_id = #{bankChargeRecord.unpay_other_payment_id} ,
        unpay_payment_id = #{bankChargeRecord.unpay_payment_id},state = -1
        WHERE other_payment_id = #{bankChargeRecord.payment_id}
    </update>
</mapper>